@CHARSET "ISO-8859-1";

body {
	padding-top: 50px;
	background-color: ghostwhite;
}

.header {
	margin-bottom: 20px;
	padding: 30px 10px 40px 20px;
	background: darkslategrey;
	color: ghostwhite;
	font-weight: bold;
	position: fixed;
	width: 100%;
	z-index: 1000;
}
.container{
	padding-top: 200px;
	padding-bottom: 80px;
}
.header h1 {
	margin-left: auto;
	margin-right: auto;
}
.header p{
	font-weight: normal;
}

a {
	text-decoration: none;
	color: #3366FF;
}

h1 {
	margin: 0;
	margin-bottom: 10px;
	padding: 0;
}

.header p {
	margin: 0;
	padding: 0;
}

.footer {
	padding: 10px 10px 10px 10px;
	bottom: 0;
	width: 100%;
	background-color: darkslategrey;
	color: ghostwhite;
	position: fixed;
	z-index: 1000;
}
p {
	margin: 0;
}

table {
	border-collapse: collapse;
}

th {
	text-align: left;
	padding: 2px 5px;
}

td {
	max-width: 200px;
	padding: 2px 5px;
}

.errors {
	background-color: #FFCCCC;
	color: red;
	font-weight: bold;
	border: 1px solid red;
}
.form-navbar{
	padding: 10px;
}
.form-signin {
	max-width: 330px;
	padding: 15px;
	margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
	margin-bottom: 10px;
}
.form-signin .checkbox {
	font-weight: normal;
}
.form-signin .form-control {
	position: relative;
	height: auto;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 10px;
	font-size: 16px;
}
.form-signin .form-control:focus {
	z-index: 2;
}
.form-signin input[type="text"] {
	margin-bottom: -1px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
	margin-bottom: 10px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

/*blogs*/
.wrapper {
	margin: auto;
	width: 60%;
	padding: 10px;
}
.center {
	margin: auto;
	width: 60%;
	border: 3px solid #73AD21;
	padding: 10px;
}
.title {
	color: orangered;
}
.panel-primary>.panel-heading{
	background-color: darkslategrey;
	border-color: darkslategrey;
}
.panel-body  {
	word-break:break-all;
}